body{
    font-size: 40px;
}
div{
    width: 100px;
    height: 100px;
    font-size: 0.9em;
}

section{
    width: 50%;
    height: 20%;
    background-color:papayawhip;
    border: 5px pink solid;
    display: none;

}
h1{
    font-size: 40px;
    line-height: 200%;
    border: black solid 1px;
}
article{
    font-size: 40px;
}
article p{
    font-size: 0.7em;
    font-family: monospace;
}
/* div.rotating{
    width: 100px;
    height: 100px;
    border: black 5px solid;
    border-radius: 50%;
    border: 1;
} */
