h1{
    background-color: powderblue;
    border: 2px solid plum;
    color: sienna;
    /* display: block; */
    padding-right: 100px;
}
div{
    width: 100px;
    height: 100px;
    background-color: olivedrab;
    border: black solid 4px;
    margin: 10px;
    display: inline-block;
}
.square{
    width: 100px;
    height: 100px;
    background-color: olivedrab;
    border: black solid 4px;
    margin: 10px;
    display: inline-block;
}