body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 6em;
    text-align: center;
}
nav{
    display: flex;
    font-size: 1.5em;
}
ul, li{
    display: inline;
    margin: 0;
    padding: 0;
}
h1{
    color: rgb(45, 181, 223);
}
a{
    color:rgb(87, 198, 231);
    font-family: monospace;
}

@media (max-width: 768px){
    h1{
        font-size: 4em;
    }
    .specific{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 576px){
    h1{
        font-size: 3em;
    }
}