<%- include('../partials/head', {title: farm.name})%>
</head>
<body>
    <h1><%= farm.name %>:</h1>
    <ul>
        <li>City: <%= farm.city  %> </li>
        <li>Email: <%= farm.email  %> </li>
    </ul>
</body>
</html>