<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New COmment</title>
</head>
<body>
    <h1>Make a new comment</h1>
    <form action="/comments" method="post">
        <section>
        <label for="form">Enter Username</label>
        <input type="text" name="username" placeholder="Username" id="form">
    </section>
    <section>
        <label for="comment">Comment</label>
        <br>
        <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
    </section>
    <button type="submit">Submit</button>
    </form>
    <a href="/comments" >To Main</a>
</body>
</html>