<%- include('../partials/head', {title: foundProduct.name})%>
</head>
<body>
    <h1><%= foundProduct.name %>:</h1>
    <h2>Price: $<%= foundProduct.price %></h2>
    <h2>Category: <%= foundProduct.category %></h2>
    <a href="/products">Back to Main Page</a>
</body>
</html>