h1{
    font-family: monospace;
    color: #444444;
}

#container{
    width: 90%;
    height: 200px;
    background-color: orchid;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: solid black 3px;

}
div{
    width: 50px;
    height: 50px;
    border: black solid 2px;
    border-radius: 0.2em;
    flex-basis: 70px;
    margin: 5px;

}
div:nth-of-type(1){
    flex-grow: 1;
}
div:nth-of-type(4){
    flex-grow: 2;
}
div:nth-of-type(5){
    flex-grow: 1;
    flex-shrink: 0;
}


main{
    height: 300px;
    width: 50%;
    max-width: 500px;
    background-color: orchid;
    border: solid black 2px;
    border-radius: 0.8em;
    overflow: hidden;
    display: flex;
}
main .sidebar{
    background-color: palevioletred;
    flex: 1;
    border: orangered 2px solid;
}
main .main-content{
    background-color: rgb(128, 35, 66);
    flex:  2 0 100px;
    border: violet 4px solid;
    
}