input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    display: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.form-class{
    width: 50vw;
    border: orange 10px double;
    border-radius: 10px;
}
body{
    color: rgb(173, 45, 219);
    background-color: rgb(205, 3, 63);
    text-shadow: 15px 12px 3px #433443;
    border: solid olivedrab 10px;
    padding: 10px;
    border-radius: 23px;
}