<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS demo</title>
</head>

<body>
    <h1 class="header">Welcome to the page</h1>
    <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt cupiditate commodi, aspernatur
        eaque molestias voluptas repudiandae ad optio aut! Laudantium a esse delectus beatae sed. Sunt adipisci
        laboriosam accusantium sequi omnis sint ex itaque?</p>
</body>

</html>